@import "variables";
@import "variables.light";
@import "grafana";

/* Mixins */

@mixin custom-left-brand-border-gradient() {
  border-image:  linear-gradient(rgba(255,211,104,1.0) 0%, rgba(244,191,62,1.0) 99%, rgba(244,191,62,1.0) 100%);
  border-image-slice: 1;
  border-top: 0;
  border-right: 0;
  border-bottom: 0;
  border-left: 2px solid transparent;
}

/* Overrides */

.sidemenu > li.active, 
.sidemenu > li:hover {
  @include custom-left-brand-border-gradient();
}

.navbar-page-btn {
  color: #f5f5f5;
  &:hover,
  &:focus,
  &:active {
    color: #fff;
  }
}

.navbar-brand-btn {
  padding: 2px 14px;
  background: darken(#f4bf3e, 5%);
  &:hover,
  &:focus,
  &:active {
    background: #f4bf3e;
  }
  .fa-caret-down {
    color: #005bbb;
    position: relative;
    top: -10px;
  }
  .navbar-brand-btn-background {
    background-image: url(https://upload.wikimedia.org/wikipedia/commons/6/62/P%C3%ADsek_CoA.svg);
    background-size: 32px;
    background-repeat: no-repeat;
    background-color: #f4bf3e;
    background-position: center 4px;
    border-radius: 0px;
    background-color: transparent;
    height: 41px;
    padding: 0px;
    border: none;
    img {
      display: none;
    }
  }
}

